<%if admin? %>
	<h1>Edit this recipe</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(@recipe, :url => {:action => 'update', :id => @recipe.id} ) do |f| %>

				<%= f.label :category %>
				<%= f.select :category_id, options_for_select(Category.all.map{|c|[c.title, c.id]}), {include_blank: "Select category"} %>

				<%= f.label :title %>
				<%= f.text_field :title%>

				<%= f.label :instruction, "Instructions" %>
				<%= f.text_area(:instruction, size: "50x10") %>

				<h3>Ingredients</h3>
				<p>Example: 1/2 Cups Sugar</p>

				<%= f.fields_for :ingredients do |i| %>
					<%= i.label :name, class: "hidden" %>
					<%= i.text_field :name %>
				<% end %>

				<%= f.submit "Submit" %>
			<% end %>
		</div>
	</div>
<% else %>
	<h1 class="text-center">You must be logged in as an admin to edit recipes</h1>
<% end %>