<% if @recipes.empty? %>
	<h2>Nothing here :/</h2>
<% else %>
	<h1 class="text-center"><%= @category.title %></h1>
	<% if @recipes.count > 4 %>
		<div>
			<p>
				<%= form_tag display_path, :method => 'get' do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search #{@category.title}", :name => nil, class: "btn" %>
					<%= hidden_field_tag :id, @category.id %>
				</p>
			<% end %>
			</p>
		</div>
	<% end %>
	<% @recipes.each do |r| %>
		<h3><%= r.title %></h3>
		<h5>Ingredients</h5>
		<ul>
			<% r.ingredients.each do |i| %>
				<li><%= i.name %></li>
			<% end %>
		</ul>
		<h5>Instructions</h5>
		<p><%= r.instruction.gsub(/\n/, '<br/>').html_safe %></p>
		<% if admin? %>
			<%= link_to "Edit", edit_path(id: r.id) %>
		<% end %>
	<% end %>
<% end %>