<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Julie's Recipes", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "View alphabetically", display_alpha_path %></li>
				<% if admin? %>
					<li><%= link_to "Add a Recipe", new_path %></li>
					<li><%= link_to "Log out as admin", logout_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "Log in as admin", login_path %></li>
				<% end %>
				<li id: "Search">
					<%= form_tag search_results_path, :method => 'get' do %>
						<%= text_field_tag :search, params[:search] %>
						<%= submit_tag "Search all recipes", :name => nil %>
					<% end %>
				</li>
			</div>
		</nav>
	</div>
</header>