<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= yield %>
	<hr/>

	<%= link_to "Home", root_path %>
	<br/>
	<%= link_to "View Alphabetically", display_alpha_path %>
	<br/>
	<%= link_to "Add a Recipe", new_path %>
	
</div>

</body>
</html>
